

.navbar-header2 {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff !important;
font-size: 30px;
font-weight: 500;
background-color: #d90641;
font-family: 'Roboto', sans-serif;
}
